footer
  p KaraBeNemsi @ #{(new Date()).getFullYear()}
  p Build #{String.fromCharCode(65 + (new Date()).getDate() % 25)}B#{(new Date()).getYear()}#{String.fromCharCode(65 + (new Date()).getSeconds() % 25)}#{(new Date()).getMonth()}
    
script(src="../assets/js/script.min.js", charset="utf-8")
script.
  SyntaxHighlighter.defaults['gutter'] = true;
  SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.defaults['ruler'] = false;
  SyntaxHighlighter.defaults['html-style']= true;
  SyntaxHighlighter.all();
